.contacts {
  &__list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-right: -38px;
    padding: 0;

    list-style: none;

    @include vp-1023 {
      flex-direction: column;
      margin: 0;
    }
  }

  &__item {
    margin-right: 38px;

    @include vp-1023 {
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__link {
    font-size: 13px;

    display: flex;
    align-items: center;

    transition: opacity $trans-default;
    color: $color-default-white;

    @include hover-focus {
      opacity: 0.5;
    }
  }

  &__icon {
    display: block;
    margin-right: 10px;
  }
}
