.footer {
  padding: 30px 0;

  background-color: $color-blue-zodiac;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include vp-1023 {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__copyright {
    min-width: 220px;
    padding: 0 40px 0 0;

    border-right: 1px solid $color-silver;

    @include vp-1023 {
      padding: 0 0 20px 0;

      border-right: none;
      border-bottom: 1px solid $color-silver;
    }
  }

  &__payments {
    flex-grow: 1;

    padding: 0 40px;

    border-right: 1px solid $color-silver;

    @include vp-1023 {
      padding: 20px 0;

      border-right: none;
      border-bottom: 1px solid $color-silver;
    }
  }

  &__contacts {
    min-width: 330px;
    padding: 0 0 0 40px;

    @include vp-1023 {
      min-width: auto;
      padding: 20px 0 0;
    }
  }
}
