mixin contacts(data)
  .contacts
    ul.contacts__list
      each contact in data
        li.contacts__item
          a(href=`${contact.href}` target="_blank" rel="nofollow noopener noreferrer").contacts__link
            +icon(`${contact.icon}`, 20, 20).contacts__icon
            span.contacts__text!=contact.text
