mixin custom-slider()
  .custom-slider
    .custom-slider__info
      p.custom-slider__text Sed ut perspiciatis, unde omnis iste natus
      p.custom-slider__value #[span.custom-slider__number 75]%
    .slider(id="slider")
