@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Lato';

  font-display: swap;
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'Lato';

  font-display: swap;
  src: url('../fonts/Lato-SemiBold.woff2') format('woff2'),
    url('../fonts/Lato-SemiBold.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Lato';

  font-display: swap;
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: 'Lato';

  font-display: swap;
  src: url('../fonts/Lato-ExtraBold.woff2') format('woff2'),
    url('../fonts/Lato-ExtraBold.woff') format('woff');
}
