doctype html

include ../components

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content="CSS — task")

    link(rel="stylesheet" href="css/style.min.css")
    link(rel="preload" href="fonts/Lato-Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/Lato-SemiBold.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/Lato-Bold.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/Lato-ExtraBold.woff2" as="font" crossorigin="anonymous")
  body
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

      if (hasFooter)
        +footer(footerMods)

    block modals

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
